* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-size:30px;
  
}
.App > input{
  padding: 20px;
  margin: 50px;
  font-size: 30px;
}